* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
    font-size: 1.6rem;
    height: 100000px;
}
/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 144px;
    height: 50px;
    flex-shrink: 0;
    background: #171100;
}
/* Header */
.header {
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1000;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    gap: 42px;
}

.header .nav li a {
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.header .nav li:first-child a {
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.header .nav li:first-child {
    position: relative;
}

.header .nav li:first-child::before {
    display: inline-block;
    position: absolute;
    content: '';
    left: 1px;
    bottom: 2px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .nav li:hover a {
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.header .action {
    display: flex;
    margin-left: 70px;
}

.header .action .btn:hover {
    opacity: 0.9;
}

.header .btn a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Hero */
.hero {
    padding-top: 56px;
    background: #fffcf4;
}

.hero .hero-content {
    display: flex;
}

.hero .hero-left,
.hero .hero-right {
    width: 50%;
}

.hero .hero-left {
    position: relative;
}

.hero .course {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    width: 270px;
    height: 244px;
    bottom: 113px;
    right: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero .course-item {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 24px;
}

.hero .course-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero .course-item:nth-of-type(1) .course-icon {
    background-color: #fff9e8;
}

.hero .course-item:nth-of-type(2) .course-icon {
    background-color: #fcefff;
}

.hero .course-item:nth-of-type(3) .course-icon {
    background-color: #ebeaff;
}

.hero .course-icon img {
    flex-shrink: 0;
}

.hero .hero-right {
    width: 470px;
    height: 580px;
    margin-left: 130px;
}

.hero .hero-right .heading {
    width: 470px;
    margin-top: 64px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.116rem;
}

.hero .hero-right .desc {
    color: #5f5b53;
    font-family: Poppins;
    margin-top: 12px;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hero .cta-group {
    margin-top: 38px;
}

.hero .cta-group .btn {
    min-width: 180px;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
}

.hero .cta-group .watch-video {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.hero .hero-right .cta-group {
    display: flex;
    align-items: center;
}

.hero .hero-right .cta-group .icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    margin-left: 28px;
    border-radius: 50%;
    background-color: #fff;
}

.hero .hero-right .recent-engagement {
    margin-top: 48px;
}

.hero .hero-right .hero-stats {
    display: flex;
    gap: 28px;
}

.hero .hero-right .hero-stats strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    margin-right: 10px;
}
