* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
    font-size: 1.6rem;
}
/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 144px;
    height: 50px;
    flex-shrink: 0;
    background: #171100;
}
/* Header */
.header {
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1000;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    gap: 42px;
}

.header .nav li a {
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.header .nav li:first-child a {
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.header .nav li:first-child {
    position: relative;
}

.header .nav li:first-child::before {
    display: inline-block;
    position: absolute;
    content: '';
    left: 1px;
    bottom: 2px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .nav li:hover a {
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.header .action {
    display: flex;
    margin-left: 70px;
}

.header .action .btn:hover {
    opacity: 0.9;
}

.header .btn a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Hero */
.hero {
    padding-top: 56px;
    background: #fffcf4;
}

.hero .hero-content {
    display: flex;
}

.hero .hero-left,
.hero .hero-right {
    width: 50%;
}

.hero .hero-left {
    position: relative;
}

.hero .course {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    width: 270px;
    height: 244px;
    bottom: 113px;
    right: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero .course-item {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 24px;
}

.hero .course-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero .course-item:nth-of-type(1) .course-icon {
    background-color: #fff9e8;
}

.hero .course-item:nth-of-type(2) .course-icon {
    background-color: #fcefff;
}

.hero .course-item:nth-of-type(3) .course-icon {
    background-color: #ebeaff;
}

.hero .course-icon img {
    flex-shrink: 0;
}

.hero .hero-right {
    width: 470px;
    height: 580px;
    margin-left: 130px;
}

.hero .hero-right .heading {
    width: 470px;
    margin-top: 64px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.116rem;
}

.hero .hero-right .desc {
    color: #5f5b53;
    font-family: Poppins;
    margin-top: 12px;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hero .cta-group {
    margin-top: 38px;
}

.hero .cta-group .btn {
    min-width: 180px;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
}

.hero .cta-group .watch-video {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.hero .hero-right .cta-group {
    display: flex;
    align-items: center;
}

.hero .hero-right .cta-group .icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    margin-left: 28px;
    border-radius: 50%;
    background-color: #fff;
}

.hero .hero-right .recent-engagement {
    margin-top: 48px;
}

.hero .hero-right .hero-stats {
    display: flex;
    gap: 28px;
}

.hero .hero-right .hero-stats strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    margin-right: 10px;
}

/* Popular */

.popular {
    margin-top: 256px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top_left .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.076rem;
}

.popular .popular-top_left .desc {
    margin-top: 16px;
    width: 458px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    color: #5f5b53;
}

.popular .popular-top_right {
    display: flex;
    gap: 18px;
}

.popular .popular-top_right .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffb900;
    border-radius: 50%;
    color: #ffb900;
    background-color: #fff;
}

.popular .popular-top_right .control-btn:hover {
    color: #fff;
    background-color: #ffb900;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    flex-grow: 1;
}

.popular .course-item {
    width: calc((100% - 60px) / 3);
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.popular .thumb {
    width: calc(100% + 1px);
    height: 278px;
    margin: -1px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.popular .course-list {
    margin-top: 55px;
}

.popular .course-item:hover {
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .info {
    padding: 0 22px;
}

.popular .info .head {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.popular .info .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
}

.popular .info .desc {
    color: #5f5b53;
    font-family: Poppins;
    width: 326px;
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.popular .info .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding-bottom: 22px;
}

.popular .info .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
}

.popular .info .foot .btn {
    min-width: 118px;
    min-height: 50px;
    border: none;
    border-radius: 25px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.6rem;
}

.popular .info .foot .btn:hover {
    background: #ffb900;
}
/* Philosophy */
.philosophy {
    margin-top: 200px;
    background-color: #2e2100;
}

.philosophy .philosophy-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
}

.philosophy .philosophy-left {
    min-width: 160px;
}

.philosophy .philosophy-left .avatar {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50%;
}

.philosophy-left .title {
    margin-top: 18px;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    color: #f7f7f7;
}

.philosophy-left .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.philosophy-left .icon {
    margin-top: 28px;
}

.philosophy-right .desc {
    max-width: 740px;
    margin-left: 30px;
    color: #fff;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem;
}

/* achievements */

.achievements {
    margin-top: 200px;
}

.achievements .achievements-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.achievements-content .achievements-left {
    display: flex;
    gap: 0 30px;
}

.achievements-left .achievements-img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.achievements-left .achievements-img:first-child {
    margin-top: 34px;
}

.achievements-right .title {
    max-width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.076rem;
}

.achievements-right .desc {
    color: #5f5b53;
    max-width: 458px;
    font-family: Poppins;
    margin-top: 16px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.achievements-right .btn {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
    margin-top: 32px;
    width: 137px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #ffb900;
}

/* orientation */
.orientation {
    margin-top: 200px;
}

.orientation .orientation-conten {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orientation-left .title {
    max-width: 570px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.076rem;
}

.orientation-left .desc {
    max-width: 570px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
    margin-top: 16px;
}

.orientation-left .btn {
    width: 137px;
    height: 50px;
    border-radius: 26px;
    margin-top: 32px;
    background: #ffb900;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.orientation-right .orientation-img {
    width: 470px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
}
/* Blog */
.blog {
    margin-top: 200px;
    background: #fffcf4;
}

.blog .blog-content {
    padding: 96px 0;
}

.blog .blog-top {
    text-align: center;
}

.blog-top .title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.076rem;
}

.blog-top .desc {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    color: #696262;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-top: 16px;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.blog-list .item {
    width: calc((100% - 60px) / 3);
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog-list .item .thumb {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog-list .info {
    padding: 20px 20px 28px 20px;
}

.info .date {
    position: relative;
    display: flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
}

.info .date::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #ffb900;
    border-radius: 50%;
    margin-right: 4px;
}

.info .date::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 160px;
    height: 1px;
    top: 24px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .info .title {
    width: 330px;
    color: #171100;
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}

.blog .info .btn {
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: #171100;
    color: #fff;
    margin-top: 12px;
}

.blog .info .btn:hover {
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: #ffb900;
    color: #fff;
    margin-top: 12px;
}

.blog .dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #130606;
}

.blog .dots .dot:first-child {
    background-color: #ffb900;
}

/* Footer */
.footer {
    background: #2e2100;
    padding: 96px 135px 0;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .logo {
    color: #fff;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
}

.footer .logo .dot {
    color: #ffb900;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
}

footer .desc {
    width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-top: 18px;
}

.footer .column .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .column .title::after {
    display: block;
    content: '';
    width: 130px;
    height: 1px;
    background: #59554b;
    margin-top: 14px;
}

.footer .column .list {
    margin-top: 28px;
}

.footer .column .list li + li {
    margin-top: 12px;
}

.footer .column .list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.copyright .desc {
    min-width: 357px;
    color: #807d74;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 28px;
}

.socials {
    margin-top: 18px;
}
